@import url('https://fonts.cdnfonts.com/css/amethysta');
@import url('https://fonts.cdnfonts.com/css/sweet-bread');


/* GLOBAL INTERACTIONS */
* {
    margin: 0;
    padding: 0;
    font-family: arial sans-serif;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background: #000;
    justify-content: center;
    align-items: center;
    column-gap: 40px;
    min-height: 100vh;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* All Keyframes */
@keyframes fade-down {
    0% {
        opacity: 0;
        transform: translateY(-30px) scale(0.9);
    }

    100% {
        opacity: 1;
        transform: translateY(0px) scale(1);
    }
}


@keyframes fade-left {
    0% {
        opacity: 0;
        transform: translateX(-30px) scale(0.9);
    }

    100% {
        opacity: 1;
        transform: translateX(0px) scale(1);
    }
}


/* End of Keyframes */



/* Scroll animation */
.section_paragraph {
    opacity: 0;
    transform: translateY(20px);
    transition: 1s ease-in-out;
}

.section_paragraph--visible {
    opacity: 1;
    transform: translateY(20px);
}


/* END GLOBAL INTERACTIONS */




/* NAVBAR */

/* Main menu positionning */
.main-nav {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    text-align: center;
    background: #000;
    opacity: 0;
    z-index: -1;
    visibility: hidden;
    transition: all .375s;
}


.main-nav.is-open {
    opacity: 1;
    z-index: 100;
    visibility: visible;
}

/* blue band effect */
.main-nav::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: -15px;
    background: #41DEC2;
    transform-origin: 0 0;
    transform: skew(-14deg) translateX(-120%);
    transition: all .275s .1s;
}

.main-nav.is-open::before {
    transform: skew(-14deg) translateX(0);
}

/* Skewing effect on menu links */
.main-nav ul {
    display: inline-flex;
    flex-direction: column;
    height: 93%;
    /* Should be 100%, but we have a notice message :D */
    align-items: flex-end;
    justify-content: center;
    transform: translateX(-18%) skew(-16deg);
}

.main-nav li {
    display: block;
    margin: .5rem 0;
    text-align: right;
    transform: skew(16deg);
}

/* Apparition effect on links */
.main-nav a {
    opacity: 0;
    transform: translateY(-10px);
}

.main-nav.is-open a {
    opacity: 1;
    transform: translateY(0);
}

.main-nav li:nth-child(1) a {
    transition: all 275ms 175ms
}

.main-nav li:nth-child(2) a {
    transition: all 275ms 225ms
}

.main-nav li:nth-child(3) a {
    transition: all 275ms 275ms
}

.main-nav li:nth-child(4) a {
    transition: all 275ms 325ms
}

.main-nav li:nth-child(5) a {
    transition: all 275ms 375ms
}


/* Decoration */
.main-nav ul,
.main-nav li {
    list-style: none;
    padding: 0;
}

.main-nav a {
    font-family: 'Sweet Bread', sans-serif;
    display: block;
    padding: 12px 0;
    color: #000;
    font-size: 1.4em;
    text-decoration: none;
    font-weight: bold;
}

/* Burger Style: @see: https://codepen.io/CreativeJuiz/full/oMZNXy */
.open-main-nav {
    position: absolute;
    top: 15px;
    padding-top: 20px;
    right: 15px;
    z-index: 1000;
    background: none;
    border: 0;
    cursor: pointer;
}

.open-main-nav:focus {
    outline: none;
}

.burger {
    position: relative;
    display: block;
    width: 28px;
    height: 4px;
    margin: 0 auto;
    background: #E5E5E5;
    transform: skew(5deg);
    transition: all .275s;
}

.burger:after,
.burger:before {
    content: '';
    display: block;
    height: 100%;
    background: #E5E5E5;
    transition: all .275s;
}

.burger:after {
    transform: translateY(-12px) translateX(-2px) skew(-20deg);
}

.burger:before {
    transform: translateY(-16px) skew(-10deg);
}

/* Toggle State part */
.is-open .burger {
    transform: skew(5deg) translateY(-8px) rotate(-45deg);
}

.is-open .burger:before {
    transform: translateY(0px) skew(-10deg) rotate(75deg);
}

.is-open .burger:after {
    transform: translateY(-12px) translateX(10px) skew(-20deg);
    opacity: 0;
}

/* END OF MOBILE NAVBAR */




/* MAIN SECTION */

main {
    background-image: url("src/img/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: sticky;

}

#main_section {
    color: #E5E5E5;
}


#hero_container {
    height: 80vh;
    display: flex;
    padding-top: 6rem;
    flex-direction: column;


    justify-content: center;
    animation: fade-down 1.5s backwards;

}

#hero_container img {
    margin: 3.5rem 0rem 0rem 0rem;
    max-height: 8rem;
}

#hero_P1,
#hero_p2,
#hero_P3,
#hero_span {
    font-family: 'Sweet Bread', sans-serif;

}

#hero_P1 {
    padding: 1rem 1rem 0rem 1rem;
    font-size: 2rem;

}

#hero_P2 {
    padding: 0.2rem 0rem 0rem 1rem;
    font-size: 2rem;
}

#hero_P3 {
    color: #41DEC2;
    padding: 2rem 0rem 1.5rem 1.2rem;
    /* background-color: red; */
    font-size: 1.5rem;
}


#name_span {
    color: #41DEC2;
    font-size: 2.2rem;
    margin: 0rem 0rem 0rem 0.5rem;
    font-family: 'Sweet Bread', sans-serif;
    font-weight: 700;
}

.standard_btn {
    font-family: 'Sweet Bread', sans-serif;
    font-weight: 400;
    appearance: none;
    background-color: transparent;
    border: 2px solid #41DEC2;
    border-radius: 15px;
    box-sizing: border-box;
    color: #E5E5E5;
    cursor: pointer;
    display: inline-block;
    font-size: 1.2rem;
    font-weight: 600;
    line-height: normal;
    margin-left: 0%;
    min-width: 0;
    outline: none;
    padding: 8px 10px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 9rem;
    height: 3rem;
    margin-left: 15%;
    will-change: transform;
}

.standard_btn:disabled {
    pointer-events: none;
}

.standard_btn:hover {
    color: #fff;
    background-color: #41DEC2;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
}

.standard_btn:active {
    box-shadow: none;
    transform: translateY(0);
}

/* Scroll arrow */

.arrows {
    margin-top: 1.5rem;
    width: 60px;
    height: 100%;
    position: relative;
    left: 50%;
    margin-left: -30px;
}

.arrows path {
    stroke: #41DEC2;
    fill: transparent;
    stroke-width: 1px;
    animation: arrow 2s infinite;
    -webkit-animation: arrow 2s infinite;
}

@keyframes arrow {
    0% {
        opacity: 0
    }

    40% {
        opacity: 1
    }

    80% {
        opacity: 0
    }

    100% {
        opacity: 0
    }
}

@-webkit-keyframes arrow

/* Safari and Chrome view */
    {
    0% {
        opacity: 0
    }

    40% {
        opacity: 1
    }

    80% {
        opacity: 0
    }

    100% {
        opacity: 0
    }
}

.arrows path.a1 {
    animation-delay: -1s;
    -webkit-animation-delay: -1s;
    /* Safari and Chrome */
    /
}

.arrows path.a2 {
    animation-delay: -0.5s;
    -webkit-animation-delay: -0.5s; //* Safari and Chrome */
}

.arrows path.a3 {
    animation-delay: 0s;
    -webkit-animation-delay: 0s;
    /* Safari and Chrome */
}

/* End of main section */





/* ABOUT ME SECTION */

#about_section {
    color: #E5E5E5;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

}

.container_title {
    font-family: 'Amethysta', sans-serif;
    font-weight: 400;
    height: 5vh;
    font-size: 30px;
    padding: 12px;
    margin: 12px;
}

.line_center {
    display: flex;
    width: 100vw;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.line {
    border-bottom: 1px solid #E5E5E5;
    width: 60%;
    margin: 10px;
}

#my_photo {
    border-radius: 5px;
    height: 50%;
    margin: 15px;
    box-shadow: 15px 20px 25px #41DEC2;
    height: 25rem;
}

#about_me_text {
    margin: 20px;
    font-size: 20px;
    width: 85%;
    font-family: 'Sweet Bread', sans-serif;
    font-weight: 400;
}

.about_me_emphasis {
    color: #41DEC2;
    text-shadow: #ffffff;
    font-family: 'Sweet Bread', sans-serif;
}

#aboutMe_footer {
    display: flex;
    margin-bottom: 3rem;
}

#undraw_hello_container {
    display: flex;
    width: 50vw;

}

#undraw_hello_container img {
    margin-top: 25px;
    margin-left: 20px;
    height: 5rem;


}

#socialMedia_redirect {
    display: flex;
    justify-content: center;
    width: 50vw;
}

.media_icon {
    margin: 7px;
    margin-top: 20px;
}

.media_icon img {
    max-height: 2.1rem;
    cursor: pointer;
}

.center_line {
    border-bottom: 1px solid #E5E5E5;
    width: 100%;
    display: none;
}

.media_icon a:hover+.center_line {
    display: flex;
    animation: fade-left 1.5s backwards;
}

/* END OF ABOUT ME SECTION */




/* PROJECTS SECTION  */

#projects_section {
    color: #E5E5E5;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#contact_t {
    display: flex;
    align-items: center;
    justify-content: center;
}

#projects_title {
    font-size: 30px;
    font-family: 'Amethysta', sans-serif;
    font-weight: 400;
}

#projects_text {
    width: 90vw;
    margin: 10px;
}

#projects_text h1{
    font-family: 'Sweet Bread', sans-serif;
    font-weight: 400;
}

#projects_container {
    display: flex;
    flex-direction: column;
}

.box_frontEnders {
    background: url('src/img/icons/project_src/FrontEnders.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    margin: 10px;
    border: 2px solid #41DEC2;
    border-radius: 10%;
    height: 15rem;
    width: 20rem;
}


.box_codificador {
    background: url('src/img/icons/project_src/CaesarCypher.png');
    background-size: cover;
    background-repeat: no-repeat;
    margin: 10px;
    border: 2px solid #41DEC2;
    border-radius: 10%;
    height: 15rem;
    width: 20rem;
}

.box_m5 {
    background: url('src/img/icons/project_img');
    background-size: cover;
    background-repeat: no-repeat;
    margin: 10px;
    border: 2px solid #41DEC2;
    border-radius: 10%;
    height: 15rem;
    width: 20rem;
}


#redirect_conteiner {
    display: flex;
    height: 15rem;
    width: 20rem;
    position: absolute;
    align-items: end;
    justify-content: center;
}


#redirect_conteiner img {
    max-height: 1.5rem;
    margin: 5px;
    border-radius: 50%;
}

.project_redirect_icon {
    display: flex;
    border: 1px solid #41DEC2;
    border-radius: 100%;
    margin: 5px;
}

.project_redirect_icon:hover {
    transition: .35s;
    transform: scale(1.3);
}


/* END OF PROJECTS SECTION */




/* TECHNOLOGIES SECTION */

#technologies_section {
    margin-top: 50px;
    color: #E5E5E5;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#technologies_descr {
    font-size: 1.2rem;
    margin: 10px;
    width: 85%;
    font-family: 'Sweet Bread', sans-serif;
}

#technologies_descr p{
    font-family: 'Sweet Bread', sans-serif;
    font-weight: 400;
}

#technologies_container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}

.technologies_box {
    filter: opacity(30%);
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 5px;
    padding: 4px;
    border: 2px solid #41DEC2;
}

.technologies_box:hover {
    transition: .35s;
    transform: scale(1.2);
    margin: 10px;
    filter: opacity(100%);
}

.technologies_box img {
    max-height: 5rem;
}

/* END OF SKILLS ME SECTION */


/* CONTACT ME SECTION */
#contact_section {
    margin-top: 50px;
    height: 80vh;
    color: #E5E5E5;

}

#mail_title {
    margin-left: 20px;
    margin-top: 10px;
    font-size: 1.1rem;
}

#form-centralizer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#contact-text-descr{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#send-email-descr{
    margin: 1.2rem;
    font-size: 2rem;
    color: #E5E5E5;
    font-family: 'Sweet Bread', sans-serif;
    font-weight: 400;
}

#send-email-descr2{
    font-size: 1rem;
    opacity: 80%;
    color: #E5E5E5;
    font-family: 'Sweet Bread', sans-serif;
}

.form-container {
    width: 90%;
    background: linear-gradient(#212121, #212121) padding-box,
                linear-gradient(145deg, transparent 35%,#41DEC2, #63ddc7) border-box;
    border: 2px solid transparent;
    margin-top: 8%;
    padding: 32px 24px;
    font-size: 14px;
    font-family: inherit;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-sizing: border-box;
    border-radius: 16px;
    background-size: 200% 100%;
    animation: gradient 5s ease infinite;
  }

  input, label{
    font-family: 'Sweet Bread', sans-serif;
    font-weight: 400;
  }
  
  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
  
    50% {
      background-position: 100% 50%;
    }
  
    100% {
      background-position: 0% 50%;
    }
  }
  
  .form-container button:active {
    scale: 0.95;
  }
  
  .form-container .form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .form-container .form-group {
    display: flex;
    flex-direction: column;
    gap: 2px;
  }
  
  .form-container .form-group label {
    display: block;
    margin-bottom: 5px;
    color: #E5E5E5;
    font-weight: 600;
    font-size: 12px;
  }
  
  .form-container .form-group input {
    width: 100%;
    padding: 12px 16px;
    border-radius: 8px;
    color: #fff;
    font-family: inherit;
    background-color: transparent;
    border: 1px solid #414141;
  }
  
  .form-container .form-group textarea {
    width: 100%;
    padding: 12px 16px;
    border-radius: 8px;
    resize: none;
    color: #fff;
    height: 96px;
    border: 1px solid #414141;
    background-color: transparent;
    font-family: inherit;
  }
  
  .form-container .form-group input::placeholder {
    opacity: 0.5;
  }
  
  .form-container .form-group input:focus {
    outline: none;
    border-color: #41DEC2;
  }
  
  .form-container .form-group textarea:focus {
    outline: none;
    border-color: #41DEC2;
  }
  
  .form-container .form-submit-btn {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    align-self: flex-start;
    font-family: inherit;
    color: #717171;
    font-weight: 600;
    width: 40%;
    background: #313131;
    border: 1px solid #414141;
    padding: 12px 16px;
    font-size: inherit;
    gap: 8px;
    margin-top: 8px;
    cursor: pointer;
    border-radius: 6px;
  }
  
  .form-container .form-submit-btn:hover {
    background-color: #41DEC2;
    color: #E5E5E5;
    border-color: #fff;
  }
  
/* END OF CONTATC ME SECTION */


/* Media Query */

/* Tablet */
@media (min-width: 768px) and (max-width: 834px) {

    /* Main section */
    #hero_P1{
        font-size: 3.5rem;
    }

    #hero_P2{
        font-size: 3.6rem;
    }

    #name_span{
        font-size: 4.3rem;
    }

    #hero_P3{
        font-size: 2rem;
    }

    .standard_btn{
    font-size: 1.8rem;
    width: 14rem;
    }

    #hero_container img {
        margin: 3.5rem 0rem 0rem 0rem;
        max-height: 14rem;
    }

    


}