
/* GLOBAL INTERACTIONS */

* {
    margin: 0;
    padding: 0;
    font-family: arial sans-serif;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body {
    justify-content: center;
    align-items: center;
    column-gap: 40px;
    min-height: 100vh;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* All Keyframes */
@keyframes fade-down{
    0%{
        opacity: 0;
        transform: translateY(-30px) scale(0.9);
    }

    100%{
        opacity: 1;
        transform: translateY(0px) scale(1);
    }
}

/* End of Keyframes */



/* Scroll animation */
.section_paragraph{
    opacity: 0;
    transform: translateY(20px);
    transition: 1s ease-in-out;
}

.section_paragraph--visible{
    opacity: 1;
    transform: translateY(20px);
}


/* END GLOBAL INTERACTIONS */




/* NAVBAR */

/* Main menu positionning */
.main-nav {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    text-align: center;
    background: #E5E5E5;
    opacity: 0;
    z-index: -1;
    visibility: hidden;
    transition: all .375s;
}

.main-nav.is-open {
    opacity: 1;
    z-index: 100;
    visibility: visible;
}

/* blue band effect */
.main-nav::before {
	 content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: -15px;
    background: #41DEC2;
    transform-origin: 0 0;
    transform: skew(-14deg) translateX(-120%);
    transition: all .275s .1s;
}

.main-nav.is-open::before {
    transform: skew(-14deg) translateX(0);
}

/* Skewing effect on menu links */
.main-nav ul {
    display: inline-flex;
    flex-direction: column;
    height: 93%; /* Should be 100%, but we have a notice message :D */
    align-items: flex-end;
    justify-content: center;
    transform: translateX(-18%) skew(-16deg);
}

.main-nav li {
    display: block;
    margin: .5rem 0;
    text-align: right;
    transform: skew(16deg);
}

/* Apparition effect on links */
.main-nav a {
    opacity: 0;
    transform: translateY(-10px);
}

.main-nav.is-open a {
    opacity: 1;
    transform: translateY(0);
}
.main-nav li:nth-child(1) a {
	transition: all 275ms 175ms
}
.main-nav li:nth-child(2) a {
	transition: all 275ms 225ms
}
.main-nav li:nth-child(3) a {
	transition: all 275ms 275ms
}
.main-nav li:nth-child(4) a {
	transition: all 275ms 325ms
}
.main-nav li:nth-child(5) a {
	transition: all 275ms 375ms
}


/* Decoration */
.main-nav ul,
.main-nav li {
	list-style: none;
	padding: 0;
}
.main-nav a {
	display: block;
	padding: 12px 0;
	color: #5A3B5D;
	font-size: 1.4em;
	text-decoration: none;
	font-weight: bold;
}

/* Burger Style: @see: https://codepen.io/CreativeJuiz/full/oMZNXy */
.open-main-nav {
	position: absolute;
	top: 15px;
	padding-top: 20px;
	right: 15px;
	z-index: 1000;
	background: none;
	border: 0;
	cursor: pointer;
}
.open-main-nav:focus {
	outline: none;
}
.burger {
	position: relative;
	display: block;
	width: 28px;
	height: 4px;
	margin: 0 auto;
	background: #5A3B5D;
	transform: skew(5deg);
	transition: all .275s;
}

.burger:after,
.burger:before {
	content: '';
	display: block;
	height: 100%;
	background: #5A3B5D;
	transition: all .275s;
}

.burger:after {
	transform: translateY(-12px) translateX(-2px) skew(-20deg);
}

.burger:before {
	transform: translateY(-16px) skew(-10deg);
}

/* Toggle State part */
.is-open .burger {
	transform: skew(5deg) translateY(-8px) rotate(-45deg);
}

.is-open .burger:before {
	transform: translateY(0px) skew(-10deg) rotate(75deg);
}

.is-open .burger:after {
	transform: translateY(-12px) translateX(10px) skew(-20deg);
    opacity: 0;
}

/* MENU Text part */

.burger-text {
	display: block;
	font-size: .675rem;
	letter-spacing: .05em;
	margin-top: .5em;
	text-transform: uppercase;
	font-weight: 500;
	text-align: center;
	color: #5A3B5D;
}

.container {
	position: absolute;
	top: 0; right: 0;
	bottom: 0; left: 0;
	overflow: hidden;
	background: linear-gradient(to bottom, #eee, #ddd);
}

/* END OF MOBILE NAVBAR */




/* MAIN SECTION */

#main_container{
    color: #5A3B5D;
    background-color: #E5E5E5;;
    position: relative;
}

#hero_container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    animation: fade-down 1.5s backwards;
    
}

#hero_textOne{
    font-size: 24px;
    margin:10px;
}


#hero_textTwo{
    font-size: 23px;
    margin-left: 10px;
}

#NameSpan{
    color: #41DEC2;
    font-size: 30px;
}

.standard_btn{
    text-decoration: none;
    font-size: 22px;
    border: 1px solid #41DEC2;
    border-radius: 100px;
    background-color: #E5E5E5;
    color: #41DEC2;
    width: 50%;
    margin: 20px 0px 0px 80px;
}

.standard_btn:hover{
    color: #E5E5E5;
    background-color: #41DEC2;

}

/* Scroll arrow */

.arrows {
	width: 60px;
	height: 80px;
	position: relative;
	left: 50%;
	margin-left: -30px;


  }
  
  .arrows path {
	stroke: #41DEC2;
	fill: transparent;
	stroke-width: 1px;  
	animation: arrow 2s infinite;
	-webkit-animation: arrow 2s infinite; 
  }
  
  @keyframes arrow
  {
  0% {opacity:0}
  40% {opacity:1}
  80% {opacity:0}
  100% {opacity:0}
  }
  
  @-webkit-keyframes arrow /* Safari and Chrome view */
  {
  0% {opacity:0}
  40% {opacity:1}
  80% {opacity:0}
  100% {opacity:0}
  }
  
  .arrows path.a1 {
	animation-delay:-1s;
	-webkit-animation-delay:-1s; /* Safari and Chrome *//
  }
  
  .arrows path.a2 {
	animation-delay:-0.5s;
	-webkit-animation-delay:-0.5s; //* Safari and Chrome */
  }
  
  .arrows path.a3 { 
	animation-delay:0s;
	-webkit-animation-delay:0s; /* Safari and Chrome */
  }
/* End of main section */





/* ABOUT ME SECTION */

#about_container{
    color: #5A3B5D;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

}

.container_title{
    height: 5vh;
    text-align: start;
    font-size: 30px;
    padding: 12px;
    margin: 12px;   
}

.line_center{
    display: flex;
    width: 100vw;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.line{
    border-bottom: 1px solid #5A3B5D;
    width: 60%;
    margin: 10px;
}

#my_photo{
    border-radius: 5px;
    height: 50%;
    margin: 15px;
}

#about_me_text{
    margin: 20px;
    font-size: 20px;
    width: 85%;
}

.about_me_emphasis{
    color: #41DEC2;
    text-shadow: #ffffff;
}

/* END OF ABOUT ME SECTION */




/* PROJECTS SECTION  */

#projects_container{
    background-color: #E5E5E5 ;
    
}

#projects_title{
    font-size: 30px;

}

.project_name{
    width: 40%;
    text-align: center;
    margin: 10px;
}

#p-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project_box{
    max-height: 150px;
    width: 300px;
    margin: 1px;
    border: 1px solid black;
    border-radius: 10px;
}

/* redirect link code and demo */
.project_deploy_box{
    width: 75%;
    display: flex;
    align-items: start;
    margin: 3px;
}

.project_box img{
    max-width: 150px;
}

.project_deploy_box span{
    border: 1px solid #5A3B5D;
    border-radius: 10px;
    margin: 3px;
}

.project_deploy_box img{
    margin: 5px;
    height: 20px;
}
/* END OF PROJECTS SECTION */




/* SKILLS ME SECTION */

#skills_section{
    margin-top: 50px;
}

#skills_title{
    font-size: 20px;
    text-align: center;
    margin: 10px;
}

#language_icons{
    text-align: center;
    margin-top: 25px;
}

#language_icons img{
    margin: 10px;
    max-width: 50px;
}


/* END OF SKILLS ME SECTION */




/* CONTACT ME SECTION */
#contact_section{
    height: 100vh;
    margin-top: 20px;
}


/* END OF CONTATC ME SECTION */